# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# md
src/assets/content/docs/books/de
src/assets/content/docs/books/en
src/assets/content/docs/books/es
src/assets/content/docs/books/fr
src/assets/content/docs/books/it
src/assets/content/docs/books/nl
src/assets/content/docs/books/pt
