---
// Translation i18n
import { useTranslations } from '../../utils/translations';
const currentLocale = Astro.currentLocale || 'es';
const t = useTranslations(currentLocale);

// Fetch books
import { getBooks } from "../../lib/api";
import { LOCALES_PREFIX } from "../../../src/constants/locales";

// Components
import BookCard from "../../components/BookCard.astro";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

// Utils
export const prerender = true;

export async function getStaticPaths() {
  return LOCALES_PREFIX.map((lang) => ({
    params: { lang },
    props: { lang },
  }));
}

const { lang } = Astro.params;

interface Book {
  documentId: string;
  text_id: string;
  title: string;
  description: string;
  category: string;
  year: number;
  author: {
    name: string;
  };
  cover_image: {
    formats: {
      small: {
        url: string;
      };
    };
  };
}

const books: Book[] = (await getBooks(lang)) || [];
---

<StarlightPage
  frontmatter={{
    title: t("books.books"),
    description: t("books.description"),
    template: "splash",
  }}
>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    {
      books && books.length > 0 ? (
        books.map((book) => (
          <BookCard
            book={{
              title: book?.title || t("books.without.title"),
              text_id: book?.text_id || t("books.without.text_id"),
              description: book?.description || t("books.without.description"),
              category: book?.category || t("books.without.category"),
              year: book?.year || 0,
              author: book?.author.name || t("books.without.author"),
              coverImage:
                book?.cover_image?.formats?.small?.url ||
                "/default-cover.jpg",
            }}
          />
        ))
      ) : (
        <div class="col-span-full text-center py-8">
          {lang === "pt"
            ? "Nenhum livro encontrado"
            : lang === "es"
              ? "No se encontraron libros"
              : "No books foundd"}
        </div>
      )
    }
  </div>
</StarlightPage>
